.Task{
    color: black;
    background-color: #CCCCFF;
}
.ListTile{
    text-align: center
}

#Searchlabel{
    
    margin-right:10px
}
.Search{
    text-align: center;
}
#Searchinput:hover{
    border-color: crimson;
}